@import url(/exec/ezeditor/css/content_view.css);

.txc-wrapper {width:100%;}

.table{
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  margin-bottom:0px;
}

.table th, .table td {
  text-align: center;
}

.table .left {
  text-align: left;
}

.board-search {
  text-align: right;
  margin-bottom:10px;
}

.board-page {
  min-height: 20px;
  text-align: center;
}

.board-btn {
  text-align: right;
  position: relative;
  margin-bottom:30px;
}

.board-column {
}

.board-column h2 {
  color: #555;
  font-size: 21px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.board-column h2 a {
  color: #585f69;
}

.board-column h2 a:hover {
  color: #72c02c;
  text-decoration: none;
}

.board-column-info {
  padding: 5px 8px 5px 8px;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}

.board-view {
  border-top: 2px solid #a7c2d9;
}

.board-view h2 {
  color: #555;
  font-size: 21px;
  padding-left: 5px;
  margin-bottom: 5px;
}

.board-view h2 a {
  color: #585f69;
}

.board-view h2 a:hover {
  color: #72c02c;
  text-decoration: none;
}

.board-view-tags {
  padding: 5px 8px 5px 8px;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}

.board-view-tags ul {
  margin-bottom: 0;
}

.board-view-tags li {
  font-size: 12px;
}

.board-view-tags li i {
  color: #777;
}

.board-view-tags ul.board-view-info {
  color: #eee;
  margin-bottom: 3px;
}

.board-view-tags ul.board-view-tags a {
  color: #555;
  font-size: 11px;
  display: inline;
  padding: 3px 7px;
  margin-right: 2px;
  background: #f4f4f4;
}

.board-view-tags ul.board-view-tags a:hover {
  background: #72c02c;
}

.board-view-content {
  margin-bottom: 20px;
  padding:5px;
}

.board-btn-mod{
  border-top: solid 1px #ddd;
  text-align: right;
  padding-top: 20px;
  margin-bottom: 20px;
}

.prev-next {
  position: relative;
  border-top: solid 1px #ddd;
  margin-bottom: 20px;
}

.prev-next li {
  border-bottom: solid 1px #ddd;
}

.prev-next a {
  padding: 6px 5px;
  display: inline-block;
  text-transform: uppercase;
}

.prev-next li i {
  color: #bbb;
  float: right;
  margin-top: 10px;
  margin-right: 5px;
}


.form header{
  margin: 0px;
}

.form fieldset{
  padding: 25px 0px 5px 0px;
}

.form footer{
  border-top: 0px;
  background: none;
  margin-bottom: 20px;
}

.board-cate{
  top: 0px;
  border: 1px solid #DDDDDD;
  background: none;
}

.board-box {
  min-height: 300px;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}

.board-img {
  list-style: none;
}

.board-img .box {
  margin-top: 30px;
  margin-bottom: 30px;
}

.board-img li a:hover  {
  text-decoration: none;
}

.board-img li span.img-cover {
  padding: 8px;
  display: block;
  margin-top: 1px;
  background: #efefef;
}

.board-img li span.img-cover p {
  margin-bottom: 0;
}

.board-img li span.img-cover span {
  font-size: 16px;
}

.board-img li a:hover span.img-cover {
  background: #72c02c;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.board-img li a:hover span.img-cover p,
.board-img li a:hover span.img-cover span {
  color: #fff;
}




/*Blog Item Page
------------------------------------*/
.blog-item .media img {
  top: 3px;
  width: 54px;
  height: 54px;
  position: relative;
}

.post-comment h3,
.blog-item .media h3 {
  color: #72c02c;
  font-size: 21px;
  margin-bottom: 25px;
}

.blog-item .media h4.media-heading {
  color: #555;
  font-size: 17px;
  position: relative;
}

.blog-item .media h4.media-heading span {
  top: 3px;
  right: 0;
  color: #777;
  font-size: 12px;
  position: absolute;
}

.blog-item .media h4.media-heading span a {
  color: #72c02c;
}


span.badge {
margin-top: 8px;
font-size: 11px;
padding: 3px 5px;
margin-right: 10px;
font-weight: 400;
}

span.badge-u {
  border-radius: 0 !important;
  background: #72c02c;
}

