
@charset "utf-8";

html {
  margin:0;
  padding:0;
}
body {
  margin: 0;
  padding: 0;
  font-size: small;
  font-family: "돋움", "돋움체", arial, serif, sans-serif;
  color: #555;
  line-height:120%;
}
ul, dl, ol, dt, dd, p {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
form {
  font-size: 100%;
  margin: 0;
  padding: 0;
}
select, input, textarea {
  font-size: 100%;
  vertical-align: middle;
  font-family: "돋움", "돋움체", arial, serif, sans-serif;
}
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
legend {
  display: none;
}
img {
  border: 0;
  vertical-align: middle;
}
caption {
  display: none !important;
}
address {
  font-style: normal;
}
a:link {
  text-decoration: none;
  color: #000;
}
a:visited {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
  color: #eb730c;
}
.accessibility-menu{
 display:none;
 font-size:0;
 height:0;
 line-height:0;
 position:absolute;
 z-index:-100;
}
.accessibility-top{
 display:none;
 font-size:0;
 height:0;
 line-height:0;
 position:absolute;
 z-index:-100;
}

#popWrap {
  margin:0;
  padding:0;
}
.popUpinput {
  height:18px;
  padding:2px 0 0 2px;
  margin-top:-1px;
  color: #000;
  border:1px solid #c8c7c8;
  background: #fff;
}

.ZiptopSchbox {
  padding:15px 17px 12px 17px;
  background:#f8f8f8;
  border:2px solid #eaeaea;
  margin:2px 0 0 0;
}
.ZiptopSchbox strong {
  padding-left:15px;
  letter-spacing:-1px;
  background:url(/exec/zipcode/img/icon_circle.gif) no-repeat 0 2px;
  color:#151515;
}
.ZiptopSchbox_sel {
  padding:7px 17px 5px 17px;
  background:#f8f8f8;
  border:2px solid #eaeaea;
}
.ZiptopSchbox_sel strong {
  letter-spacing:-1px;
  color:#151515;
}

.divTable1 {
  margin:15px 0 0 0;
  height:400px;.height:402px;
  overflow-x:hidden;
  overflow-y:scroll;
}
.divTable2 {
  margin:15px 0 0 0;
  height:436px;.height:434px;
  overflow-x:hidden;
  overflow-y:scroll;
}
table.zip table {
  width:100%;
  margin:0;
  padding:0;
  border-collapse:collapse;
}
table.ie6 {
  _width:97%;
}
table.zip table.line {
  border-bottom:1px solid #d5d3d5;
}
table.zip th {
  padding:5px 0;
  background:#f3f3f3;
  font-weight:normal;
  color:#000;
  border-top:2px solid #d5d3d5;
  border-bottom:1px solid #d5d3d5;
  text-align:center;
}
table.zip th.div {
  background:url(/exec/zipcode/img/popuptablediv.gif) no-repeat right top #f3f3f3;
}
table.zip td {
  padding:5px 0;
  background:#fff;
  border-bottom:1px solid #d5d3d5;
  color:#555;
  text-align:center;
}
.dlline {
     clear:both;
}
.dlline dt {
     float:left;
     padding:3px 5px 10px 0;
}
.dlline dd {
     float:left;
     padding:0 15px 0 0;
}

/*우편번호 검색 20121019*/
.dlline dt strong{padding:0;background:none;}
.popup_addr_area{width:100%;margin:0;padding:0;}
.popup_addr_area h1{margin:0;padding:12px 0 13px 10px;.padding:5px 0 5px 10px;background:url(/exec/zipcode/img/title_addr_bg.gif) repeat-x left top;}
.popup_addr_area .popup_addr_area_con{padding:10px;}
.popup_addr_area .popup_addr_area_con .popup_addr_tabmenu{height:28px;margin:0 0 10px 0;padding:0;background:url(/exec/zipcode/img/addr_tabbg.gif) repeat-x left bottom;}
.popup_addr_area .popup_addr_area_con .popup_addr_tabmenu li{float:left;margin:0;padding:0 1px 0 0;}
.popup_addr_area .popup_addr_area_con .popup_addr_tabmenu li.textlink{padding:8px 0 0 5px;}
.popup_addr_area .popup_addr_area_con .popup_addr_tabmenu li.r_btn{position:absolute;right:10px;padding:5px 0 0 0;text-align:right;}
.popup_addr_area .popup_addr_area_con .popup_addr_tabmenu li img{vertical-align:top;}
.popup_addr_area .popup_addr_area_con .search_infoma{clear:both;padding:7px 0 0 0;}
.popup_addr_area .popup_addr_area_con .search_infoma li{padding:0 0 10px 15px;background:url(/exec/zipcode/img/icon_circle.gif) no-repeat left 2px;}
.popup_addr_area .popup_addr_area_con .search_infoma li strong{padding:0;background:none;}
.text_link_s{color:#0958db;text-decoration:underline;}

