/*Sub Top*/
.sub_visual01 {background-image:url(/skin/default/img/sub/sub01.jpg);}
.sub_visual02 {background-image:url(/skin/default/img/sub/sub02.jpg);}
.sub_visual03 {background-image:url(/skin/default/img/sub/sub03.jpg);}
.sub_visual04 {background-image:url(/skin/default/img/sub/sub04.jpg);}
.sub_visual05 {background-image:url(/skin/default/img/sub/sub05.jpg);}
.sub_visual {position:relative; width:100%; height:300px; background-repeat:no-repeat; background-position:center top; background-size:cover; color:#fff;}
.sub_visual.fixed {position:fixed;}

.huge-title {font-family: 'Raleway'; font-weight: 700; font-size: 60px;line-height: 1; letter-spacing: -.025em; color: #fff; text-align: center;}


/*sub breadcrumbs*/
.sub_menu {background-color: #0d2865;}
.sub_menu .divide.home {width: 50px;border-left:1px solid #3d5283;padding: 0 15px;}
.sub_menu .home a {display: inline-block;text-indent:-9999px;width: 19px;height: 24px;background: url('/skin/default/img/sub/bt_home.png') no-repeat center center;display: inline-block;}
.sub_menu .divide {float:left;width: auto;height: 50px;border-right:1px solid #3d5283;position: relative;}
.sub_menu .divide .big,
.sub_menu .divide .sub {font-size: 15px;color: #ffffff;padding: 0 20px;display: block;height: 100%;}
.sub_menu .divide .big span,
.sub_menu .divide .sub span {width: 100%;display: inline-block;padding-right: 86px;position: relative;white-space: nowrap;}
.sub_menu .divide .big span:after,
.sub_menu .divide .sub span:after {transition: all .5s ease;-webkit-transition: all .5s ease;-moz-transition: all .5s ease;display: block;content: "";position: absolute;top: -1px;right: 0;width: 28px;height: 28px;background: url('/skin/default/img/sub/ic_dropdown.png') no-repeat 0 0;}
.sub_menu .divide.over .big span:after,
.sub_menu .divide.over .sub span:after {transform: rotate(180deg);}
.big_tab_menu,
.sub_tab_menu {display: none;}
.stab_menu {position: absolute;top: 100%;width: 100%;z-index: 50;}
.stab_menu li a {text-decoration: none;display: block; line-height: 20px;padding: 15px 20px;font-size: 14px;color: #888888;background-color: #111111;border-bottom: 1px solid #444444;}
.stab_menu li a:hover,
.stab_menu li a.on {background-color: #0035ad;color: #fff;}


/*sub nav*/
.sub_menu {border-bottom:1px solid #e1e1e1;}
#sidebar-nav.side-nav.list-group {display:block; float:none; margin:0 0 50px;}
#sidebar-nav.side-nav.list-group:before {content: " ";display: table;}
#sidebar-nav.side-nav.list-group:after {content: " ";display: table; clear: both;}
#sidebar-nav > li.list-group-item {display:block; width: 20%;position: relative; float: left; border:none; border-radius:0; background:none; padding:0;}
.sub02 #sidebar-nav > li.list-group-item {width: 33%;}
.sub03 #sidebar-nav > li.list-group-item {width: 33%;}
.sub04 #sidebar-nav > li.list-group-item {width: 25%;}
.sub05 #sidebar-nav > li.list-group-item {width: 25%;}
#sidebar-nav > li.list-group-item > a {position:relative; display:block; text-align: center; font-size:18px; line-height:22px; font-weight:200; color:#666; padding:13px 5px; border: 1px solid #d7d7d7;}
#sidebar-nav > li.list-group-item.active > a, #sidebar-nav > li.list-group-item > a:hover, #sidebar-nav > li.list-group-item > a:focus, #sidebar-nav > li.list-group-item > a:active {color:#fff; background-color: #394784; border: 1px solid #394784;}

/*Sub Content*/
.entry-title {font-family: 'Raleway'; font-size:46px; line-height:1; font-weight:700; color:#333; padding-bottom: 20px; margin:0 0 20px;text-align:center; position: relative;}
.entry-title:after {content: ''; width: 40px; height: 1px; position: absolute; left: 50%; -webkit-transform:translateX(-50%); transform:translateX(-50%); background-color: #000; bottom:0;}
.entry-desc {font-size: 20px; line-height: 1.5; font-weight: 700; margin: 0 0 20px; text-align: center; -ms-word-break: keep-all; word-break: keep-all;}
.sub-title {font-size: 30px; line-height: 1.3; color: #333;font-weight: 700; margin: 0 0 20px; text-align: center; letter-spacing: -.025em;}
.sub-title.text-left {text-align: left;}
.sub-title2 {font-size: 32px; line-height: 1.25; color: #333;font-weight: 400; margin: 0 0 15px;}
.box-title {font-family: 'Raleway'; font-weight: 700; font-size: 44px;line-height: 1; letter-spacing: -.025em; color: #fff; margin: 0 0 17px;}
.sub-desc {font-size: 20px; line-height: 1.3; color: #333;font-weight: 400; margin: 0 0 20px; text-align: center; letter-spacing: -.025em; margin: 0 0 50px;}


.raleway {font-family: 'Raleway'!important;}
.blue {color: #00248c !important;}
.red {color: #cb4638 !important;}
.bdb_ccc {border-bottom: 1px solid #ccc;}
.bg-f7f7f9 {background-color: #f7f7f9;}
.bg-908885 {background-color: #908885;}
.bg-eee {background-color: #eee;}
.pad30 {padding:30px}
.pad30.pb0 {padding-bottom: 0;}
.height207 {height: 207px;}

.row.mlmr5 {margin-left:-5px; margin-right:-5px;}
.row.mlmr6 {margin-left:-6px; margin-right:-6px;}
.row.mlmr7 {margin-left:-7px; margin-right:-7px;}
.row.mlmr15 {margin-left:-15px; margin-right:-15px;}
.row.mlmr5 > .col-xs-2.col-sm-2.col-md-2, .row.mlmr5 > .col-xs-5.col-sm-5.col-md-5, .row.mlmr5 > .col-xs-10.col-sm-10.col-md-10, .row.mlmr5 > .pad5 {padding-left:5px; padding-right:5px;}
.row.mlmr6 > .col-xs-6.col-sm-3.col-md-3, .row.mlmr6 > .col-xs-12.col-sm-6.col-md-6, .row.mlmr6 > .col-xs-6.col-sm-6.col-md-4, .row.mlmr6 > .col-xxs-12.col-xs-12.col-sm-12.col-md-4 {padding-left:6px; padding-right:6px;}
.row.mlmr7 > .col-xs-6.col-md-6 {padding-left:7px; padding-right:7px;}
.row.mlmr15 > .col-xs-12.col-sm-12.col-md-6, .row.mlmr15 > .col-xs-12.col-sm-6.col-md-6, .row.mlmr15 > .col-xs-12.col-sm-6.col-md-4, .row.mlmr15 > .col-xs-12.col-sm-6.col-md-4 , .row.mlmr15 > .col-xxs-12.col-xs-6.col-sm-6.col-md-4, .row.mlmr15 > .col-xxs-12.col-xs-12.col-sm-12.col-md-4 {padding-left:15px; padding-right:15px;}
.content {max-width: 100%; position:relative;background-color:#FFF;}
.content.container {padding-top: 70px; padding-bottom: 120px;}
.img-respoansive {max-width:100%}
.bcg {background-position: center center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; width: 100%;-webkit-backface-visibility: hidden;}
.hsContainer {width: 100%; height: 100%; overflow: hidden; position: relative;}
.hsContent { margin-left: auto; margin-right: auto; left: 0; right: 0; width:inherit; padding:0; background:none; position: absolute; }
@media only screen and (-webkit-min-device-pixel-ratio: 2){
  .bcg { background-attachment: scroll;}
}


.board_view {border-top:3px solid #000;}
.board_view .board_title {padding:30px 35px;border-bottom:1px solid #e2e2e2;}
.board_view .board_title {position:relative;font-size:26px;color:#222222;font-weight:300;}
.board_view .board_title .info {position:absolute;top:50%;margin-top:-10px;right:70px;overflow:hidden;}
.board_view .board_title .info .bar {padding-right:28px;margin-right:25px;position:relative;}
.board_view .board_title .info .bar:after {position:absolute;content:"";right:0;top:2px;background-color:#dedede;width:1px;height:20px;}
.board_view .board_title .info li {float:left;font-size:16px;color:#222222;font-weight:300;}
.board_view .board_title .info li strong {font-style:italic;color:#c0000d;display:inline-block;margin-right:10px;}
.board_view .board_cont {padding:35px;font-size:16px;color:#666666;font-weight:300;}
.board_view .board_cont p {font-size:16px;color:#666666;font-weight:300;}

@media(max-width:1229px){

}
@media(min-width:992px){
}
@media(max-width:991px){

}
@media(min-width:768px){
 
}
@media(max-width:767px){
  .sub_visual {height:230px; background-position:60% top; }
  .sub_menu .divide {max-width: 220px; width: 40%;}
  .sub_menu .divide .big, .sub_menu .divide .sub {font-size: 12px;padding: 0 10px;}
  .sub_menu .divide .big span, .sub_menu .divide .sub span {padding-right: 30px;}
  .stab_menu li a {line-height: 18px;padding:10px;font-size: 12px;}
  #sidebar-nav.side-nav.list-group {display:none;}
  .entry-desc {font-size: 15px;}

}
@media(max-width:650px){

}
@media(max-width:480px){
  .hidden-xxs{display:none !important;}
  .sub_visual {height:180px;}
  .huge-title {font-size: 40px;line-height: 1;}
  .entry-title {font-size:30px;}
  .sub_menu .divide {height: 40px; width: 45%;}
  .sub_menu .divide.home {width: 30px; padding: 0 5px;}
  .sub_menu .divide .big, .sub_menu .divide .sub {font-size: 10px;padding: 0 5px;}

}