@import url(/exec/ezeditor/css/content_view.css);
.txc-wrapper {
  width:100%;
}
.table {
  border-top:solid 1px #ddd;
  border-bottom:solid 1px #ddd;
  margin-bottom:0px;
}
.table th,.table td {
  text-align:center;
}
.table .left {
  text-align:left;
}
.board-search {
  text-align:right;
  margin-bottom:10px;
}
.board-page {
  min-height:20px;
  text-align:center;
}
.board-btn {
  text-align:right;
  position:relative;
  margin-bottom:20px;
}
.board-btn-center {
  text-align:center;
  position:relative;
  margin-bottom:20px;
}
.board-column {
}
.board-column h2 {
  color:#555;
  font-size:21px;
  padding-left:5px;
  margin-bottom:5px;
}
.board-column h2 a {
  color:#585f69;
}
.board-column h2 a:hover {
  color:#72c02c;
  text-decoration:none;
}
.board-column-info {
  padding:5px 8px 5px 8px;
  border-top:solid 1px #eee;
  border-bottom:solid 1px #eee;
}
.board-view {
  border-top:2px solid #a7c2d9;
}
.board-view h2 {
  color:#555;
  font-size:21px;
  padding-left:5px;
  margin-bottom:5px;
}
.board-view h2 a {
  color:#585f69;
}
.board-view h2 a:hover {
  color:#72c02c;
  text-decoration:none;
}
.board-view-tags {
  padding:5px 8px 5px 8px;
  border-top:solid 1px #eee;
  border-bottom:solid 1px #eee;
}
.board-view-tags ul {
  margin-bottom:0;
}
.board-view-tags li {
  font-size:12px;
}
.board-view-tags li i {
  color:#777;
}
.board-view-tags ul.board-view-info {
  color:#eee;
  margin-bottom:3px;
}
.board-view-tags ul.board-view-tags a {
  color:#555;
  font-size:11px;
  display:inline;
  padding:3px 7px;
  margin-right:2px;
  background:#f4f4f4;
}
.board-view-tags ul.board-view-tags a:hover {
  background:#72c02c;
}
.board-view-content {
  margin-bottom:20px;
  padding:5px;
  min-height:150px;
}
.board-anser-content {
  border-top:solid 1px #eee;
  margin-bottom:20px;
  padding:5px;
  min-height:150px;
}
.board-btn-mod {
  border-top:solid 1px #ddd;
  text-align:right;
  padding-top:20px;
  margin-bottom:20px;
}
.prev-next {
  position:relative;
  border-top:solid 1px #ddd;
  margin-bottom:20px;
}
.prev-next li {
  border-bottom:solid 1px #ddd;
}
.prev-next a {
  padding:10px 5px 5px 5px;
  display:inline-block;
  text-transform:uppercase;
}
.prev-next li i {
  color:#bbb;
  float:right;
  margin-top:13px;
  margin-right:5px;
}
.prev-next strong {float:left; padding-left:10px;}
.prev-next span {float:left; padding-left:25px;}

.wform header {
  margin:0px;
}
.wform fieldset {
  padding:25px 0px 5px 0px;
}
.wform footer {
  border-top:0px;
  background:none;
  margin-bottom:20px;
}
.board-cate {
  top:0px;
  border:1px solid #DDDDDD;
  background:none;
}
.board-box {
  min-height:300px;
  border-top:solid 1px #ddd;
  border-bottom:solid 1px #ddd;
}
.board-img {
  list-style:none;
}
.board-img .box {
  margin-top:30px;
  margin-bottom:30px;
}
.board-img li a:hover {
  text-decoration:none;
}
.board-img li span.img-cover {
  padding:8px;
  display:block;
  margin-top:1px;
  background:#efefef;
  max-width:360px;
}
.board-img li span.img-cover p {
  margin-bottom:0;
}
.board-img li span.img-cover span {
  font-size:16px;
}
.board-img li a:hover span.img-cover {
  background:#72c02c;
  -webkit-transition:all 0.4s ease;
  -moz-transition:all 0.4s ease;
  -o-transition:all 0.4s ease;
  transition:all 0.4s ease;
}
.board-img li a:hover span.img-cover p,.board-img li a:hover span.img-cover span {
  color: #fff;
}

/*Blog Item Page------------------------------------*/
.comments hr {
  margin: 0px 0px 10px 0px;
}

.sub-comments {
  padding-left: 50px;
}

.comments .media{
  margin-top: 0px;
}
.comments .media .media-heading {
  color:#555;
  font-size:12px;
  position:relative;
  margin-left:10px;
  margin-right:10px;
}
.comments .media .media-heading span {
  top:3px;
  right:0;
  color:#777;
  font-size:12px;
  position:absolute;
}
.comments .media .media-heading span a {
  color:#72c02c;
}
.comments .media p {
  font-size:12px;
  margin-left:10px;
  margin-right:10px;
}

span.badge {
  margin-top:8px;
  font-size:11px;
  padding:3px 5px;
  margin-right:10px;
  font-weight:400;
}
span.badge-u {
  border-radius:0 !important;
  background: #72c02c;
}

.board-modal {
  top:100px;
}

.media-body {
  display: inline;
}

/* board */
.tg  {width:100%;border-collapse:collapse;border-spacing:0;border-top:2px solid #bf1e2d;}
.tg td {font-size:15px;color:#666666;padding:14px 22px;border-top:1px solid #cccccc;text-align:center;border-bottom:1px solid #cccccc;overflow:hidden;word-break:normal;vertical-align:middle;}
.tg td a {font-size:15px;color:#666666;}
.tg th {font-size:17px;color:#333333;font-weight:500;padding:14px 0;text-align:center;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;overflow:hidden;word-break:normal;vertical-align:middle;background-color:#f8f8f8;}
.tg th.last:after {display:none;}

.custom_board_title {border-top:1px solid #666666;background-color:#f8f8f8;padding:20px;border-bottom:1px solid #e5e5e5;}
.custom_board_title .tit {font-size:22px;color:#000000;margin-bottom:10px;}
.custom_board_title .info {overflow:hidden;}
.custom_board_title .info li {float:left;position:relative;padding-right:12px;margin-right:11px;font-size:13px;color:#999999;}
.custom_board_title .info li.last {color:#1f4690;padding-right:0;margin-right:0;}
.custom_board_title .info li.last:after {display:none;}
.custom_board_title .info li:after {content:"";display:block;position:absolute;right:0;top:5px;width:1px;height:9px;background-color:#c7c7c7;}
.custom_board_cont {padding:25px 21px 35px 21px;font-size:16px;color:#666666;border-bottom:1px solid #555555;}

.page_wrap {margin-top:45px;text-align:center;}
.page_nation {display:inline-block;}
.page_nation .none {display:none;}
.page_nation a {display:block;margin:0 3px;float:left;width:25px;height:25px;border:1px solid #c9c9c9;line-height:25px;text-align:center;background-color:#fff;font-size:15px;color:#666666;text-decoration:none;}
.page_nation .prev {background:url('/skin/default/img/sub/page_prev.png') no-repeat center center;margin-right:7px;}
.page_nation .next {background:url('/skin/default/img/sub/page_next.png') no-repeat center center;margin-left:7px;}
.page_nation a.active {border-color:#bf1e2d;background-color:#bf1e2d;color:#fff;}

.table_form {border-top:1px solid #dadada;}
.table_form .form_field {display:table;width:100%;border:1px solid #dadada;border-top:none;}
.table_form .form_field.last {border-bottom:none;}
.table_form .form_field .th,
.table_form .form_field .td {height:64px;}
.table_form .form_field .th {display:table-cell;border-right:1px solid #e1e1e1;width:20%;vertical-align:middle;position:relative;font-size:17px;font-weight: 400;color:#333333;background-color:#f8f8f8;padding:0 0 0 20px;}
.table_form .form_field .th .star {color:#bf1e2d;}
.table_form .form_field .td {display:table-cell;width:80%;vertical-align:middle;font-size:14px;font-weight: 300;color:#333333;padding:0 20px;}
.table_form .form_field .td input.form_input {border:1px solid #d7d7d7;height:43px;background-color:#fff;padding:0 15px;outline:none;-webkit-appearance: none;border-radius: 0;}
.table_form .form_field .td textarea.form_text {width:100%;border:1px solid #d7d7d7;background-color:#fff;padding:15px 15px;resize:none;outline:none;-webkit-appearance: none;border-radius: 0;}
.table_form .form_field .td select {border:1px solid #d5d5d5;height:43px;background-color:#fff;padding:0 15px;}
.table_form .form_field .td .inline {display:inline-block;}
.table_form .form_field .td .sm_btn_style {display:inline-block;border-radius:2px;background-color:#cccccc;color:#fff;font-size:12px;padding:2px 3px;}
.table_form .form_field .td .md_btn_style {display:inline-block;background-color:#3c3c3c;color:#fff;font-size:14px;padding:10px 30px;}

.w70 {width:70px;}
.w150 {width:150px;}
.w500 {width:500px;}

.table_form .form_field.text_area .th,
.table_form .form_field.text_area .td {height:auto;padding:15px 20px;}
.table_form .form_field.text_area .td textarea {height:115px;resize:none;}
.btn_list_wrap {text-align:right;margin-top:20px;}
.btn_list_wrap .btn_list {height:45px;line-height:45px;width:140px;background-color:#00387d;color:#fff;font-size:16px;font-weight:300;text-align:center;display:inline-block;text-decoration:none;border:none;}

.slider_wrap .slider_close {position:fixed;top:50px;right:50px;z-index:101;}
.slider_wrap {display:none;position:fixed;left:0;top:0;width:100%;z-index:1000;}
.slider_wrap .slider_back {position:fixed;left:0;top:0;width:100%;height:100%;z-index:100;background-color:#000;opacity:0.7;filter: alpha(opacity=07);-moz-opacity:0.7;}
.slider_wrap .slider {text-align:center;position:fixed;width:1000px;left:50%;top:50%;margin-left:-500px;z-index:101;}
.slider_wrap .slider .sclose {display:none;position:absolute;top:30px;right:30px;z-index:102;}
.slider_wrap .slider .slider_img {max-width:100%;margin:0 auto;}
.slider_wrap .navigation .prev {position:fixed;z-index:102;left:100px;top:50%;margin-top:-33px;width:40px;height:67px;display:inline-block;font-size:0;background:url('/skin/default/img/main/main_prev.png') no-repeat 0 0;}
.slider_wrap .navigation .next {position:fixed;z-index:102;right:100px;top:50%;margin-top:-33px;width:40px;height:67px;display:inline-block;font-size:0;background:url('/skin/default/img/main/main_next.png') no-repeat 0 0;}

.tbl_calendar {width:100%; margin-bottom:15px; border-top:2px solid #afcad6; border-collapse:collapse; border-spacing:0;}
.tbl_calendar th {padding:7px 0; color:#5778a3; background:#fbfbfb;}
.tbl_calendar thead th {background:#f8f8f8;}
.tbl_calendar thead th strong {display:inline-block;font-size:26px;line-height:26px;vertical-align:-2px;font-family:'Century Gothic';}
.tbl_calendar thead th span img {display:inline-block; margin:7px 0 0 5px;}
.tbl_calendar thead th a.prev {margin-right:10px;}
.tbl_calendar thead th a.next {margin-left:10px;}
.tbl_calendar thead th a.prev:link,
.tbl_calendar thead th a.prev:active,
.tbl_calendar thead th a.prev:visited {overflow:hidden;display:inline-block;width:17px;height:17px;margin-bottom:2px;background: url('/exec/board/default/img/btn_prev_off.gif') no-repeat 0 0;font-size:0;line-height:0;text-indent:-9999;vertical-align:middle;}
.tbl_calendar thead th a.prev:hover {overflow:hidden;display:inline-block;width:17px;height:17px;margin-bottom:2px;background: url('/exec/board/default/img/btn_prev_on.gif') no-repeat 0 0;font-size:0;line-height:0;text-indent:-9999;vertical-align:middle;}
.tbl_calendar thead th a.next:link,
.tbl_calendar thead th a.next:active,
.tbl_calendar thead th a.next:visited {overflow:hidden;display:inline-block;width:17px;height:17px;margin-bottom:2px;background: url('/exec/board/default/img/btn_next_off.gif') no-repeat 0 0;font-size:0;line-height:0;text-indent:-9999;vertical-align:middle;}
.tbl_calendar thead th a.next:hover {overflow:hidden;display:inline-block;width:17px;height:17px;margin-bottom:2px;background: url('/exec/board/default/img/btn_next_on.gif') no-repeat 0 0;font-size:0;line-height:0;text-indent:-9999;vertical-align:middle;}
.tbl_calendar th {text-align:center; border:1px solid #e1e3e5; border-right:0; border-top:0;}
.tbl_calendar td {text-align:left;word-break:break-all; vertical-align:top; border:1px solid #e1e3e5; border-right:0; border-top:0; padding:7px 7px 7px 7px; min-height:100px;}
.tbl_calendar td .daycont {min-height:100px;}
.tbl_calendar td a {color:#666;}
.tbl_calendar .first {border-left:0;}
.tbl_calendar .none {border-left:0; height:100px;}
.tbl_calendar tbody th {padding-left:20px; font-weight:normal; border-left:0;}
.tbl_calendar tbody th.bold {font-weight:bold;}
.tbl_calendar tbody th.center {padding:7px 0;}
.tbl_calendar tbody th.bolder-left {border-left:1px solid #e1e3e5; background:#fbfbfb;}
.tbl_calendar tfoot th,
.tbl_calendar tfoot td {color:#5778a3; background:#f8f8f8;}

.board-list {table-layout:fixed;border-collapse: collapse;margin-bottom: 2em;width:100%;line-height:21px;border-collapse: collapse;border-top:2px solid #000;}
.board-list td,.board-list th {font-family:'Nanum Gothic','Open Sans', sans-serif;color:#454544;border: 1px solid #dddddd;text-align:center;padding:10px 0;font-size:14px;}
.board-list th {font-weight:bold;background:#F8F8F8;}
.board-list td {height:30px;}
.board-list td.title {text-align:left;padding-left:30px;}
.board-list td.tdleft {text-align:left;padding-left:30px;}
.board-list td.title  a{font-size:14px;}
.board-list td.contents {text-align:left;padding:10px 10px 10px 10px;vertical-align:top;}
.board-list td.contents td {text-align:left;word-break:break-all;}
.board-list td.bold {font-weight:bold;}
.board-list td .board_input {font-family:'Nanum Gothic','Open Sans', sans-serif;border: 1px solid #DDDDDD;color: #333333;height: 28px;line-height: 2.2em;padding: 0 0 0 10px;}
.board-list td em {float:right;margin-right:20px;}

#ui-datepicker-div {z-index:20 !important;}

@media (max-width: 767px) {
	.tbl_calendar td .daycont {min-height:50px;}
	.tbl_calendar td .daycont a {font-size: 12px;}
	.tbl_calendar td .daynum {font-size: 12px;}
	.tbl_calendar td {padding: 2px;}
}